* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #121212;
	--bg-color-t: rgba(18, 18, 18, 0.5);

	--bg-color-s: #202020;

	--c-primary: #3F39C6;
	--c-primary-t: rgba(63, 57, 198, 0.5);

	--c-secondary: #7D1E6A;
	--c-secondary-t: rgba(125, 30, 106, 0.5);

	--c-error: red;
	--c-error-t: rgba(255, 0, 0, 0.5);

	--gradient: linear-gradient(to right, var(--c-primary), var(--c-secondary));

	--text-color: #FFF;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);

	background-image: url("/imgs/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	font-family: arial;

	min-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--c-primary);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;

	background-color: var(--bg-color-t);

	padding: 20px;

	border-radius: 10px;

	backdrop-filter: blur(10px);

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}